@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.cardContainer{
  background-color: #eee;
  width:498px;
  height:298px;
  border:1px solid #333;
  transition:transform 0.4s ease-in;
  position:absolute;
  padding:20px;
}
.displayContainer{
  overflow:hidden;
  width:500px;
  height:300px;
  border:1px solid #eee;
  position: relative;
}

